extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/face.png", alt="face logo")
    .navlink
      a(href="/logout") Log out
      .navlink
      a(href="/volmaker") Volunteer View
  section#makeVol
    form#volForm(class="volForm", name="volForm", action="/crew", method="POST")
      label(for="crew") Crew: 
      select#volCrew(name="crew")
        option(value='tickets') Tickets
        option(value='2') Shuttle
        option(value='3') Security
        option(value='4') Recycling
        option(value='5') Parking
        option(value='6') Other
        option(value='7') Beach
        option(value='8') First Aid
        option(value='9') Kid&apos;s Tent
        option(value='10') Merch
        option(value='11') Hospitality
        option(value='12') Pre-Kitchen
        option(value='13') Pre-Fest
        option(value='14') Spring Work
        option(value='15') Set-up
        option(value='16') Post-Fest
        option(value='17') HQ &amp; Info
        option(value='18') Vol. Coordination
        option(value='19') Cafe
        option(value='20') Performer
        option(value='21') Guest
        option(value='22') Teen Tent
        option(value='23') Grounds Crew
        option(value='24') Site Crew During
        option(value='25') Drum Circle
        option(value='26') Bathhouse
      a#makevolSubmit(class="makevolSubmit", href="#") Find Crew Members
  section#vols
    if !vols || vols.length == 0
        div.vol
            h3.emptyvol No vols yet
    else
        each val in vols
            div.vol
                img(class="domoFace", src="/assets/img/domoface.jpeg", alt="vol face")
                h3.volName Name: #{val.name}
                h3.volAge Age: #{val.age}
                h3.volCrew Crew: #{val.crew}
  #domoMessage
    img#speech(src="/assets/img/speech.png", alt="speech box")
    h3
      span#errorMessage
    img#vol(src="assets/img/domo.png", alt="vol")
block scripts
        script(src="/assets/crew.js")