extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/face.png", alt="face logo")
    .navlink
      a(href="/logout") Log out
    .navlink
      a(href="/crew") Crew View
  section#makeVol
    form#volForm(class="volForm", name="volForm", action="/volmaker", method="POST")
      label(for="name") Name: 
      input#volFirst(type="text", name="firstName", placeholder="first name")
      input#volLast(type="text", name="lastName", placeholder="last name")
      label(for="age") Phone: 
      input#volAge(type="text", name="phone", placeholder="phone number")
      label(for="address1") Address: 
      input(type="text", name="address1", placeholder="address 1")
      input(type="text", name="address2", placeholder="address 2")
      label(for="city") City: 
      input(type="text", name="city", placeholder="city")
      label(for="state") State: 
      input(type="text", name="state", placeholder="state")
      label(for="zip") Zip Code: 
      input(type="text", name="zip", placeholder="state")
      a#makevolSubmit(class="makevolSubmit", href="#") Add Volunteer
  section#vols
    if !vols || vols.length == 0
        div.vol
            h3.emptyvol No vols yet
    else
        each val in vols
            div.vol
                img(class="domoFace", src="/assets/img/domoface.jpeg", alt="vol face")
                h3.volName Name: #{val.name}
                h3.volAge Age: #{val.age}
                h3.volCrew Crew: #{val.crew}
  #domoMessage
    img#speech(src="/assets/img/speech.png", alt="speech box")
    h3
      span#errorMessage
    img#vol(src="assets/img/domo.png", alt="vol")
block scripts
        script(src="/assets/volmaker.js")